<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :reference_id %>
    <%= form.collection_select :reference_id, Reference.order(:name),:id,:name, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :degree_id %>
    <%= form.collection_select :degree_id, Degree.order(:name),:id,:name, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :region_id %>
    <%= form.text_field :region_id, id: :user_region_id %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :user_description %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email %>
  </div>

  <div class="field">
    <%= form.label :admin %>
    <%= form.check_box :admin, id: :user_admin %>
  </div>

  <div class="field">
    <%= form.label :public %>
    <%= form.check_box :public, id: :user_public %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :user_phone %>
  </div>

  <div class="field">
    <%= form.label :company %>
    <%= form.text_field :company, id: :user_company %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.text_field :position, id: :user_position %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, id: :user_password %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
