<p id="notice"><%= notice %></p>

<p>
  <strong>Reference:</strong>
  <%= @user.reference ? @user.reference.name : '' %>
</p>

<% if defined?(@user.user_memberships) %>
  <p>
    <strong>Events:</strong>
    <br>
    <% if defined?(@user.user_memberships) %>
      <% @user.user_memberships.each do |event| %>
        Event: <%= event.event.name %>, Membership: <%= event.membership.name %> : (<%= event.status %>)
        <br>
      <% end %>
      <br>
    <% end %>
  </p>
<% end %>

<p>
  <strong>Degree:</strong>
  <%= @user.degree ? @user.degree.name : '' %>
</p>

<p>
  <strong>Region:</strong>
  <%= @user.region ? @user.region.name : '' %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<p>
  <strong>Public:</strong>
  <%= @user.public %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Company:</strong>
  <%= @user.company %>
</p>

<p>
  <strong>Position:</strong>
  <%= @user.position %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
