<%= form_with(model: sponsor, local: true) do |form| %>
  <% if sponsor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sponsor.errors.count, "error") %> prohibited this sponsor from being saved:</h2>

      <ul>
      <% sponsor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :degree_id %>
    <%= form.collection_select :degree_id, Degree.order(:name), :id, :name, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :sponsor_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :sponsor_description %>
  </div>

  <div class="field">
    <%= form.label :company %>
    <%= form.text_field :company, id: :sponsor_company %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.text_field :position, id: :sponsor_position %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
