<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @document.user ? @document.user.name : '' %>
</p>

<p>
  <strong>Voucher:</strong>
  <%= @document.voucher ? @document.voucher.name : '' %>
</p>

<p>
  <strong>Path:</strong>
  <%= @document.path %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
